* {
    background-image: linear-gradient(to left,#2b0dd4,#9b14ad);
    border-radius: 10px;
    border-color:#e0b8e5;
    font-family: cursive;
  }
  .form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
  }